<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /apps/oferta
  RewriteRule ^apps/oferta/index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /apps/oferta/index.html [L]
</IfModule>